

/* CSS3 */
.block-captcha_counter {
  /* you can put this your styles */
}

#st_wrapper_main .block-captcha_counter h2 {
	/* you can put this your styles */
}

.block-captcha_counter .content {
	text-align: center;
	padding-bottom: 10px;
}

.flies-count {
	color: #FF4200;
	display: block; /* for inline view delete this line */
	font-size: x-large;
	vertical-align: middle;
}
